<!DOCTYPE html>
<html>
  <head>
    <title>Bonnie Wai-Lee Kwong</title>
  </head>
  <body>


      <div class="content">
          <div class = "left-image">
          <%= image_tag "main_image.JPG" %>
          </div>
          <div class="description">
          <%= link_to raw("<h1>Bonnie Wai-Lee Kwong</h1>"), "mailto:sibilant.threads@gmail.com" %>
            <span>
              is an artist in many mediums and a software developer in the San Francisco Bay Area.
              She has lived in nine states and two continents. Art is a way for her to traverse seen and unseen geographies.<br>
              <br>Her first poetry collection is <%= link_to "ravel", "/ravel", :target => "_blank" %>,
              a finalist for the Many Voices Project by New Rivers Press, and the White Pine Press Poetry Prize.  Her work in poetry and fiction has garnered a number of Pushcart nominations.</br></br>
              Bonnie's first play <i>Liriope</i> is a theatrical retelling of the Narcissus myth with movement and music.
              In an era where water conditions are extreme, and melting arctic ice has released a silencing disease into the air,
              the healer Liriope has to choose between her work containing the silencing disease and parenting her son Narcissus,
              a talented but self-absorbed performer.  Narcissus revels in the illusion of control over water through performance
              tricks with dry ice, but is disconnected with the nature of water.  Water is a character played by a dancer, and is at once parent, friend, lover, and murderer.</br>

              <i>Liriope</i> will be staged as a work in progress at Stanford's Jasper Ridge Biological Preserve June 1-3, with music led by Chris Chafe, and movement by Ronja Ver, Katarina Ericsson, et al.
            </span>
          </div>
          <!--<div class="footer"><a href="mailto:sibilant.threads@gmail.com">Contact Bonnie</a></div>-->
      </div>
  </body>
</html>
