<!DOCTYPE html>
<html>
  <head>
    <title>Bonnie Wai-Lee Kwong</title>
  </head>
  <body>


      <div class="content">
          <div class = "left-image">
          <%= image_tag "main_image.JPG" %>
          </div>
          <div class="description">
          <%= link_to raw("<h1>Bonnie Wai-Lee Kwong</h1>"), "mailto:sibilant.threads@gmail.com" %><span>
            is an artist in many mediums and a software developer in the San Francisco Bay Area.
            She has lived in nine states and two continents. Creativity is a way for her to traverse seen and unseen geographies.<br>
            <br>Her first poetry collection is <%= link_to "ravel", "/ravel", :target => "_blank" %>,
            a finalist for the Many Voices Project by New Rivers Press, and the White Pine Press Poetry Prize.  Her work in poetry and fiction has garnered four Pushcart nominations.</br></br>
            She is curating a digital anthology, <%= link_to raw("<h2>The Taste of Each</h2>"), "/oranges_and_bananas" %>,
            which is open to submissions.<br>
            <br>
            Bonnie is currently artist-in-residence at Stanford University.
</span>
          </div>
          <!--<div class="footer"><a href="mailto:sibilant.threads@gmail.com">Contact Bonnie</a></div>-->
      </div>
  </body>
</html>
