<!DOCTYPE html>
<html>
<head>
  <title>Call for Submissions: Oranges and Bananas</title>
</head>
<body>


<div class="content">
  <div class="description">
      <span>
    <h1>The Taste of Each: Oranges and Bananas</h1> is a multi-media digital anthology edited by
        <%= link_to raw("<h1>Bonnie Wai-Lee Kwong</h1>"), root_path %>.  The collection aims to be global
        in scope and presentation.  Viewers will be able to click on individual countries in a 3D, scrollable, online globe to access works
        by poets, writers, artists, and musicians on a common motif: oranges and bananas.  The
        goal is to showcase without judgment the breadth of contexts, concrete and abstract, in which these household
        fruits appear, and note the effects of these works on one another when placed together in a curated space of
        digital proximity.<br/><br/>
        To submit to this anthology, email <%= link_to raw("<h1>Bonnie Wai-Lee Kwong</h1>"), root_path %> at
        sibilant dot threads at gmail.  We are soliciting works in various forms, including poetry, prose, music, and art.
        Oranges and bananas should appear in the work and carry some significance, though they need not be central to it.

     </span>
  </div>

  <!--<div class="footer"><a href="mailto:sibilant.threads@gmail.com">Contact Bonnie</a></div>-->
</div>
</body>
</html>