<div class="loader" xmlns="http://www.w3.org/1999/html">
<!--<div class="title-page">contraband</div>-->
<!--<div class="page-1"><div>when we touch</div><div style="text-align: left;"> tongue to tongue</div><div>you can taste the languages I speak</div></div>-->
<!--<div class="page-2"><div>水 water</div></div>-->
<!--<div class="page-3"><div>客 guest</div></div>-->
<!--<div class="page-4"><div>水客 water guest</div></div>-->
<!--<div class="page-5"><div>I ask you for songs your mother sang to you</div></div>-->
<!--<div class="page-6"><div>I remember them and sing them in the quiet</div></div>-->
<!--<div class="page-7">-->
    <!--<div>I know a song about a clay doll:</div>-->
    <!--<div>她是個假娃娃</div>-->
    <!--<div>不是個真娃娃</div>-->
    <!--<div>她沒有親愛的媽媽</div>-->
    <!--<div>也沒有爸爸</div>-->
<!--</div>-->
<!--<div class="page-8">-->
    <!--<div>泥娃娃 泥娃娃</div>-->
    <!--<div>一個泥娃娃</div>-->
    <!--<div>也有個鼻子</div>-->
    <!--<div>也有個嘴巴</div>-->
    <!--<div>嘴巴不說話</div>-->
<!--</div>-->
<!--<div class="page-9">-->
  <!--<div>she's a doll</div>-->
  <!--<div>not a baby</div>-->
<!--</div>-->
<!--<div class="page-10">-->
    <!--<div>she has no loving mama</div>-->
    <!--<div>she has no loving papa</div>-->
<!--</div>-->
<!--<div class="page-11">-->
<!--<div>clay doll  clay doll</div>-->
<!--<div>a doll of clay</div>-->
<!--</div>-->
<!--<div class="page-12">-->
<!--<div>she has a nose</div>-->
<!--<div>she has a mouth</div>-->
<!--<div>but she can't speak</div>-->
<!--</div>-->



<!--<div class="page-13">-->
  <!--<div>I know a song about a rabbit and the moon:</div>-->
  <!--<div>うさぎ　うさぎ</div>-->
  <!--<div>　何見て跳ねる</div>-->
  <!--<div>十五夜　　　お月様</div>-->
  <!--<div>　　見て跳ねる</div>-->
<!--</div>-->
<!--<div class="page-14">-->
  <!--<div>rabbit rabbit　　　　where</div>-->
  <!--<div>      are you jumping to?</div>-->
  <!--<div>I'm jumping </div>-->
  <!--<div>　　　to　　the full moon</div>-->
  <!--<div>　　　　　　　　　　　　of the fifteenth</div>-->
<!--</div>-->
<!--<div class="page-15">-->
  <!--<div>   When we touch　　　　　　tongue to tongue</div>-->
  <!--<div>　　　　　　　　　　　　　　you know</div>-->
  <!--<div>　　　　　　I traffic　　　in songs</div>-->
<!--</div>-->
<!--<div class="page-16">-->
  <!--<div>　　　　I steal from you　　　when you're not 　　watching</div>-->
  <!--<div>　sing to you 　　　　　　when you're not listening</div>-->
<!--</div>-->
<!--<div class="page-17">-->
  <!--<div>nandito ako</div>-->
  <!--<div>umiibig saiyo</div>-->
  <!--<div>kahit naa nagdurugo ang puso</div>-->
<!--</div>-->
<!--<div class="page-18">-->
  <!--<div>kung sa ka ling iwa nan kanyaa</div>-->
  <!--<div>hwag kag ma alala</div>-->
  <!--<div>may na mag mahal saiyo</div>-->
  <!--<div>nandito ako</div>-->
<!--</div>-->


<!--<div class="page-19">-->
  <!--<div>I come 　from a line of smugglers</div>-->
  <!--<div>　　　my great grandfather was a  水客</div>-->
  <!--<div>　　　　　　a water guest</div>-->
  <!--<div>　　　　　　　　　　　though he walked</div>-->
  <!--<div>　　between hong kong</div>-->
  <!--<div>and the mainland</div>-->
<!--</div>-->

<!--<div class="page-20">-->
  <!--<div>　　　　　　　　　the contraband?</div>-->
  <!--<div>don't laugh</div>-->
  <!--<div>　　　　　　　　　</div>-->
  <!--<div>　　　dried seafood</div>-->
<!--</div>-->

<!--<div class="page-21">-->
  <!--<div>what duty</div>-->
  <!--<div>　　　　　　　　would he've had to pay?</div>-->
<!--</div>-->

<!--<div class="page-22">-->
  <!--<div>　　　　　　　　　my father arrived in the US</div>-->
  <!--<div>with a suitcase full of 　　　nothing</div>-->
  <!--<div>　　　　　but ideas</div>-->
<!--</div>-->

<!--<div class="page-23">-->
<!--<div class="CBP">US Customs and Border Protection Welcomes You</div>-->
<!--<div class="CBP">to the United States</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->



<!--<div class="page-24">-->
<!--<div>my parents settled in snow</div>-->
<!--<div>　　　snow 　　past spring</div>-->
<!--</div>-->

<!--<div class="page-25">-->
<!--<div>I was their firstborn</div>-->
<!--<div>though there was one before me</div>-->
<!--<div>conceived too early</div>-->
<!--<div>　　　　　　　　　in another country</div>-->
<!--<div>　　　uprooted</div>-->
<!--<div>from my mother's womb</div>-->
<!--</div>-->

<!--<div class="page-26">-->
<!--<div class="CBP">Declare all articles you have acquired abroad</div>-->
<!--<div>and are bringing into the United States.</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->

<!--<div class="page-27">-->
<!--<div>when we touch </div>-->
<!--<div>　　　tongue to tongue</div>-->
<!--<div>　　I taste secrets 　　　like salt</div>-->
<!--<div>　　　　　　　　on the corner of your lips</div>-->
<!--</div>-->

<!--<div class="page-28">-->
<!--<div>when your mother broke the news of your existence</div>-->
<!--<div>to your father　　　　he said:</div>-->
<!--<div>　　　when this happens to my wife</div>-->
<!--<div>　　she takes care of it</div>-->
<!--<div>　　　　　　　　　　　　</div>-->
<!--<div>　　　　　　　　　　　　　　your mother didn't know he was married</div>-->
<!--</div>-->

<!--<div class="page-29">-->
<!--<div class="CBP">CBP officers will determine duty</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->

<!--<div class="page-30">-->
<!--<div>your finger travels</div>-->
  <!--<div>　　　　　　along my waist</div>-->
  <!--<div> 　　　with no intent</div>-->
<!--<div>I ease you into me</div>-->
<!--<div>as I would</div>-->
  <!--<div>　　　　　　　a finger</div>-->
  <!--<div>　　　　 into snow</div>-->
<!--</div>-->

<!--<div class="page-31">-->
<!--<div class="CBP">Declare all articles on this declaration form</div>-->
<!--<div class="CBP">and show the value in U.S. dollars.</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->

<!--<div class="page-32">-->
<!--<div>I show you where to find</div>-->
<!--<div>the zipper on my raw silk blouse</div>-->
<!--<div>as if to say:</div>-->
<!--<div>how would you like to know me?</div>-->
<!--</div>-->

<!--<div class="page-33">-->
<!--<div>when we kiss in the morning</div>-->
<!--<div>you hide your tongue behind your lips</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->

<!--<div class="page-34">-->
<!--<div>there are times travel is easy</div>-->
<!--<div>as a skirt</div>-->
<!--<div>　 　 billowing</div>-->
<!--<div> 　 around my knees</div>-->
<!--<div>on a bridge in Amsterdam　 a woman</div>-->
<!--<div>　 　 　 　  speaks to me 　 　  in Dutch</div>-->
<!--<div>　 　 　 I can only guess</div>-->
<!--<div>　 she's asking 　　  directions</div>-->
<!--</div>-->

<!--<div class="page-35">-->
<!--<div>I smile</div>-->
<!--<div>and reply in a language I think we share:</div>-->
<!--<div>　 　 I don't know</div>-->
<!--<div>　 we laugh</div>-->
<!--</div>-->

<!--<div class="page-36">-->
<!--<div> 　 once a year　 　 birds build a bridge</div>-->
<!--<div>in the sky</div>-->
<!--<div>　 　 　 　 　 　 　 　 　 　 for lovers, yes</div>-->
<!--<div>　 　 but also for those who laugh</div>-->
<!--<div>　 　 　 　 　 and say</div>-->
<!--<div>　 I don't know</div>-->
<!--<div>　 　 　 　 唔知</div>-->
<!--<div>  不知道 　　</div>-->
<!--<div>分かりません</div>-->
<!--</div>-->

<!--<div class="page-37">-->
<!--<div>in the Sheesh Mahal</div>-->
<!--<div>　 　 　 　Mirror Palace of Amer</div>-->
<!--<div>I have seen my many selves reflected</div>-->
<!--<div>　 in thousands 　 of mosaic mirror tiles</div>-->
<!--</div>-->

<!--<div class="page-38">-->
<!--<div>how many selves have I left behind?</div>-->
<!--<div>once a year</div>-->
<!--<div>birds  　 build a bridge</div>-->
<!--<div> 　  　  　  　  　 in the sky</div>-->
<!--</div>-->

<!--<div class="page-39">-->
<!--<div>I travel so easily I could almost forget</div>-->
<!--<div> 　 how my mother refused</div>-->
<!--<div>to use  　  　 my US passport</div>-->
<!--<div>when we traveled to Communist China</div>-->
<!--</div>-->

<!--<div class="page-40">-->
<!--<div>if war broke</div>-->
<!--<div> 　  　  　 between the countries  　 of my two selves</div>-->
<!--<div> 　  　 I could claim:</div>-->
<!--<div> 　 I don't know</div>-->
<!--<div> 　  　  　  　  　  　  　  　 je ne sais pas</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->

<!--<div class="page-41">-->
<!--<div>my father can discern the colors a crawfish sees</div>-->
<!--<div> 　 bees see sweeps of blue</div>-->
<!--<div> 　  　 where we see white</div>-->
<!--</div>-->

<!--<div class="page-42">-->
<!--<div> 　  　  　 I would like to know</div>-->
<!--<div>  　    　    　   how a bee</div>-->
<!--<div>regards this country</div>-->
<!--<div>  　    　    　  I would like to know</div>-->
<!--<div>  　  what a bee carries</div>-->
<!--</div>-->



<!--<div class="page-43">-->
<!--<div class="CBP">I have (We have)</div>-->
<!--<div class="CBP">commercial merchandise</div>-->
<!--<div class="CBP">(articles for sale, samples used for soliciting orders</div>-->
<!--<div class="CBP">or goods that are not considered personal effects)</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->

<!--<div class="page-44">-->
<!--<div>my father built a machine to parse speech:</div>-->
<!--<div>a difference profile is generated</div>-->
<!--<div>for each pair of significant phonemes </div>-->
<!--<div>by subtracting the profile</div>-->
<!--<div>of each phoneme from the profile of each other phoneme….</div>-->
<!--<div style="font-weight: bold">US Patent Office Abstract</div>-->
<!--</div>-->

<!--<div class="page-45">  　    　    　-->
<!--<div>he travels unquestioned across the Pacific</div>-->
<!--</div>-->

<!--<div class="page-46">-->
<!--<div class="CBP">Controlled substances, obscene articles, and toxic substances</div>-->
<!--<div class="CBP">are generally prohibited entry.</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->

<!--<div class="page-47">-->
<!--<div>my father quotes 莊子 Zhuang Zhi</div>-->
<!--<div>who quotes Gōngsūn Lóng 公孫龍：</div>-->
<!--<div>以指喻指之非指,不若以非指喻指之非指也;</div>-->
<!--<div>以馬喻馬之非馬,不若以非馬喻馬之非馬也。</div>-->
<!--<div>天地一指也, 萬物一馬也。</div>-->
<!--</div>-->

<!--<div class="page-48">-->
<!--<div>a man approaches a border checkpoint with a horse</div>-->
<!--<div>the guard tells him horses are not allowed</div>-->
<!--</div>-->

<!--<div class="page-49">-->
<!--<div>this is a white horse</div>-->
<!--<div>  　    　    　    　  not a horse</div>-->
<!--<div>  　  he replies</div>-->
<!--<div>confounded  　  the guard lets him through</div>-->
<!--</div>-->

<!--<div class="page-50">-->
<!--<div>we can’t apply same word horse</div>-->
<!--<div>to both</div>-->
<!--<div>the general class of horses</div>-->
<!--<div>and all its subclasses:</div>-->
<!--<div>white horse</div>-->
<!--<div>black horse</div>-->
<!--<div>wild horse</div>-->
<!--</div>-->

<!--<div class="page-51">-->
<!--<div>yet  莊子 Zhuang Zhi concludes</div>-->
<!--<div>萬物一馬也</div>-->
<!--<div>the word horse can represent all things</div>-->
<!--</div>-->

<!--<div class="page-52">-->
<!--<div>I ask</div>-->
<!--<div>does the word American apply</div>-->
<!--<div>to both</div>-->
<!--<div>the general class of Americans</div>-->
<!--<div>and all its subclasses:</div>-->
<!--<div>white American</div>-->
<!--<div>African American</div>-->
<!--<div>Asian American</div>-->
<!--<div>Latino American</div>-->
<!--<div>Native American….</div>-->
<!--</div>-->

<!--<div class="page-53">-->
<!--<div>can we declare</div>-->
<!--<div>the word American represents all humanity?</div>-->
<!--<div>　    　  　    　  </div>-->
<!--<div>let us keep a moment of silence</div>-->
<!--<div>for the</div>-->
<!--<div>Americans</div>-->
<!--</div>-->

<!--<div class="page-54">-->
<!--<div>oscar grant 　  trayvon martin</div>-->
<!--<div>jonathan ferrell  　  renisha mcbride</div>-->
<!--<div>  </div>-->
<!--<div>vincent chin</div>-->
<!--<div>jacob valdiviezo 　  alex nieto</div>-->
<!--<div>micheal brown</div>-->
<!--<div>eric garner</div>-->
<!--<div>freddie gray</div>-->
<!--</div>-->

<!--<div class="page-55">-->
<!--<div>they are</div>-->
<!--<div>the unwanted children</div>-->
<!--<div>of this</div>-->
<!--<div>country</div>-->
<!--</div>-->

<!--<div class="page-56">-->
<!--<div>I travel so easily</div>-->
<!--<div>I could almost forget</div>-->
<!--<div>Americans with skin of a darker hue</div>-->
<!--<div>may take the subway</div>-->
<!--<div>sell cigarettes</div>-->
<!--<div>deliver lunch to their children</div>-->
<!--<div>and never     come home</div>-->
<!--</div>-->

<!--<div class="page-57">-->
<!--<div>I travel so easily</div>-->
<!--<div>I could almost forget</div>-->
<!--<div>               </div>-->
<!--<div>I am still here in this country loving you</div>-->
<!--<div>        & you</div>-->
<!--<div>      & you</div>-->
<!--<div>& you</div>-->
<!--<div>                        & you</div>-->
<!--</div>-->

<!--<div class="page-58">-->
<!--<div>Nandito ako</div>-->
<!--<div>umiibig sa iyo</div>-->
<!--<div>Kahit na nagdurugo ang puso</div>-->
<!--<div>I am here loving you</div>-->
<!--<div>though my heart is bleeding</div>-->
<!--</div>-->

<!--<div class="page-59">-->
<!--<div>  broken</div>-->
<!--<div>windshields</div>-->
<!--<div>eggs</div>-->
<!--<div>thrown     into my friend's</div>-->
<!--<div>Honda</div>-->
<!--<div>in Ann Arbor</div>-->
<!--<div>             </div>-->
<!--<div>I am still here</div>-->
<!--</div>-->

<div class="page-60">
  <div class="CBP">Executive order 9066</div>
  <div class="CBP">Question #27:</div>
  <div>  Are you willing to serve in the armed forces of the United States</div>
  <div>on combat duty, wherever ordered?</div>
</div>

<div class="page-61">
  <div class="CBP">Question #28:</div>
  <div>Will you swear unqualified allegiance to the United States of America</div>
  <div>and faithfully defend the United States from any and all attack</div>
  <div>by foreign or domestic forces, and forswear</div>
  <div>any form of allegiance to the Japanese Emperor </div>
  <div>or any other foreign government, power, or organization?</div>
  <div class="declaration-reply">I have nothing to declare </div>
</div>

<div class="page-62">
<div>the 442nd Regiment</div>
<div>gave themselves</div>
<div>to their country</div>
</div>

<div class="page-63">
<div>like the rabbit</div>
<div>who jumped into fire</div>
<div>to feed</div>
<div>an old man</div>
<div>who was hungry</div>
</div>

<div class="page-64">
    <div>うさぎ うさぎ</div>
    <div>何見てはねる</div>
    <div>usagi usagi</div>
    <div>nani mite haneru</div>
</div>
<div class="page-65">
    <div>rabbit</div>
    <div>rabbit</div>
    <div>where are you jumping to</div>
</div>

<div class="page-66">
  <div>some declared</div>
  <div>no   no</div>
  <div>to</div>
  <div>questions 27 & 28</div>
</div>

<div class="page-67">
  <div>I will speak to you</div>
  <div>if you speak to me</div>
  <div>in a language</div>
  <div>outside</div>
  <div>the coercion</div>
  <div>of forms</div>
  <div>and fences</div>
</div>

<div class="page-68">
<div>some        danced</div>
<div>behind fences</div>
<div>to the song</div>
<div>               </div>
<div>Oh, give me land, lots of land under starry skies</div>
<div>Don't fence me in</div>
<div>Let me ride through the wide open country that I love</div>
<div>Don't fence me in</div>
</div>

<div class="page-69">
  <div>some made</div>
  <div>love</div>
  <div>silently</div>
  <div>               </div>
  <div>tongue to tongue</div>
  <div>a tremulous beginning</div>
  <div>               </div>
  <div>like a husky note</div>
  <div>            in the back</div>
  <div>                  of the throat</div>
</div>

<div class="page-70">
  <div>  an orchid stem</div>
  <div>              with a swollen node </div>
  <div>     a contraband</div>
  <div>                            bud </div>
</div>

<div class="page-71">
<div>                I traffic in songs unsung</div>
<div>        one quiet evening</div>
<div>you took in a thirteen year old boy</div>
<div>            his song has no rainbows</div>
</div>

<div class="page-72">
  <div>       only a boy doing his sums</div>
  <div>                      late</div>
  <div>                        into the evening</div>
  <div>   and a man watching him</div>
  <div>      like the father you both imagine</div>
  <div>                                    into       existence</div>
</div>

<div class="page-73">
<div>I traffic in songs</div>
<div>                              with quiet beginnings</div>
<div>  I sing them</div>
<div>in the quiet</div>
</div>

<div class="page-74">
  <div>she's a doll</div>
  <div>not a baby</div>
</div>

<div class="page-75">
  <div>she has no loving mama</div>
  <div>she has no loving papa</div>
</div>
<div class="page-76">
  <div>clay doll  clay doll</div>
  <div>a doll of clay</div>
</div>
<div class="page-77">
  <div>I'll be her mama</div>
  <div>I'll be her papa</div>
  <div>I'll love her forever</div>
</div>

<div class="page-78">
<div>她是個假娃娃</div>
<div>不是個真娃娃</div>
<div>她沒有親愛的媽媽</div>
<div>也沒有爸爸</div>
</div>

<div class="page-79">
<div>泥娃娃 泥娃娃</div>
<div>一個泥娃娃</div>
<div>我做她媽媽   我做她爸爸</div>
<div>永遠愛著她</div>
</div>

</div>