<div class="loader" xmlns="http://www.w3.org/1999/html">
<div class="title-page">contraband</div>
<div class="page-1"><div>when we touch</div><div style="text-align: left;"> tongue to tongue</div><div>you can taste the languages I speak</div></div>
<div class="page-2"><div>水 water</div></div>
<div class="page-3"><div>客 guest</div></div>
<div class="page-4"><div>水客 water guest</div></div>
<div class="page-5"><div>I ask you for songs your mother sang to you</div></div>
<div class="page-6"><div>I remember them and sing them in the quiet</div></div>
<div class="page-7">
    <div>I know a song about a clay doll:</div>
    <div>她是個假娃娃</div>
    <div>不是個真娃娃</div>
    <div>她沒有親愛的媽媽</div>
    <div>也沒有爸爸</div>
</div>
<div class="page-8">
    <div>泥娃娃 泥娃娃</div>
    <div>一個泥娃娃</div>
    <div>也有個鼻子</div>
    <div>也有個嘴巴</div>
    <div>嘴巴不說話</div>
</div>
<div class="page-9">
  <div>she's a doll</div>
  <div>not a baby</div>
</div>
<div class="page-10">
    <div>she has no loving mama</div>
    <div>she has no loving papa</div>
</div>
<div class="page-11">
<div>clay doll  clay doll</div>
<div>a doll of clay</div>
</div>
<div class="page-12">
<div>I'll be her mama</div>
<div>I'll be her papa</div>
<div>I'll love her forever</div>
</div>
</div>
