<div class="loader" xmlns="http://www.w3.org/1999/html">
<!--<div class="title-page">contraband</div>-->
<!--<div class="page-1"><div>when we touch</div><div style="text-align: left;"> tongue to tongue</div><div>you can taste the languages I speak</div></div>-->
<!--<div class="page-2"><div>水 water</div></div>-->
<!--<div class="page-3"><div>客 guest</div></div>-->
<!--<div class="page-4"><div>水客 water guest</div></div>-->
<!--<div class="page-5"><div>I ask you for songs your mother sang to you</div></div>-->
<!--<div class="page-6"><div>I remember them and sing them in the quiet</div></div>-->
<!--<div class="page-7">-->
    <!--<div>I know a song about a clay doll:</div>-->
    <!--<div>她是個假娃娃</div>-->
    <!--<div>不是個真娃娃</div>-->
    <!--<div>她沒有親愛的媽媽</div>-->
    <!--<div>也沒有爸爸</div>-->
<!--</div>-->
<!--<div class="page-8">-->
    <!--<div>泥娃娃 泥娃娃</div>-->
    <!--<div>一個泥娃娃</div>-->
    <!--<div>也有個鼻子</div>-->
    <!--<div>也有個嘴巴</div>-->
    <!--<div>嘴巴不說話</div>-->
<!--</div>-->
<!--<div class="page-9">-->
  <!--<div>she's a doll</div>-->
  <!--<div>not a baby</div>-->
<!--</div>-->
<!--<div class="page-10">-->
    <!--<div>she has no loving mama</div>-->
    <!--<div>she has no loving papa</div>-->
<!--</div>-->
<!--<div class="page-11">-->
<!--<div>clay doll  clay doll</div>-->
<!--<div>a doll of clay</div>-->
<!--</div>-->
<!--<div class="page-12">-->
<!--<div>I'll be her mama</div>-->
<!--<div>I'll be her papa</div>-->
<!--<div>I'll love her forever</div>-->
<!--</div>-->



<!--<div class="page-13">-->
  <!--<div>I know a song about a rabbit and the moon:</div>-->
  <!--<div>うさぎ　うさぎ</div>-->
  <!--<div>　何見て跳ねる</div>-->
  <!--<div>十五夜　　　お月様</div>-->
  <!--<div>　　見て跳ねる</div>-->
<!--</div>-->
<!--<div class="page-14">-->
  <!--<div>rabbit rabbit　　　　where</div>-->
  <!--<div>      are you jumping to?</div>-->
  <!--<div>I'm jumping </div>-->
  <!--<div>　　　to　　the full moon</div>-->
  <!--<div>　　　　　　　　　　　　of the fifteenth</div>-->
<!--</div>-->
<!--<div class="page-15">-->
  <!--<div>   When we touch　　　　　　tongue to tongue</div>-->
  <!--<div>　　　　　　　　　　　　　　you know</div>-->
  <!--<div>　　　　　　I traffic　　　in songs</div>-->
<!--</div>-->
<!--<div class="page-16">-->
  <!--<div>　　　　I steal from you　　　when you're not 　　watching</div>-->
  <!--<div>　sing to you 　　　　　　when you're not listening</div>-->
<!--</div>-->
<!--<div class="page-17">-->
  <!--<div>nandito ako</div>-->
  <!--<div>umiibig saiyo</div>-->
  <!--<div>kahit naa nagdurugo ang puso</div>-->
<!--</div>-->
<!--<div class="page-18">-->
  <!--<div>kung sa ka ling iwa nan kanyaa</div>-->
  <!--<div>hwag kag ma alala</div>-->
  <!--<div>may na mag mahal saiyo</div>-->
  <!--<div>nandito ako</div>-->
<!--</div>-->


<!--<div class="page-19">-->
  <!--<div>I come 　from a line of smugglers</div>-->
  <!--<div>　　　my great grandfather was a  水客</div>-->
  <!--<div>　　　　　　a water guest</div>-->
  <!--<div>　　　　　　　　　　　though he walked</div>-->
  <!--<div>　　between hong kong</div>-->
  <!--<div>and the mainland</div>-->
<!--</div>-->

<!--<div class="page-20">-->
  <!--<div>　　　　　　　　　the contraband?</div>-->
  <!--<div>don't laugh</div>-->
  <!--<div>　　　　　　　　　</div>-->
  <!--<div>　　　dried seafood</div>-->
<!--</div>-->

<!--<div class="page-21">-->
  <!--<div>what duty</div>-->
  <!--<div>　　　　　　　　would he've had to pay?</div>-->
<!--</div>-->

<!--<div class="page-22">-->
  <!--<div>　　　　　　　　　my father arrived in the US</div>-->
  <!--<div>with a suitcase full of 　　　nothing</div>-->
  <!--<div>　　　　　but ideas</div>-->
<!--</div>-->

<!--<div class="page-23">-->
<!--<div class="CBP">US Customs and Border Protection Welcomes You</div>-->
<!--<div class="CBP">to the United States</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->



<!--<div class="page-24">-->
<!--<div>my parents settled in snow</div>-->
<!--<div>　　　snow 　　past spring</div>-->
<!--</div>-->

<!--<div class="page-25">-->
<!--<div>I was their firstborn</div>-->
<!--<div>though there was one before me</div>-->
<!--<div>conceived too early</div>-->
<!--<div>　　　　　　　　　in another country</div>-->
<!--<div>　　　uprooted</div>-->
<!--<div>from my mother's womb</div>-->
<!--</div>-->

<!--<div class="page-26">-->
<!--<div class="CBP">Declare all articles you have acquired abroad</div>-->
<!--<div>and are bringing into the United States.</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->

<!--<div class="page-27">-->
<!--<div>when we touch </div>-->
<!--<div>　　　tongue to tongue</div>-->
<!--<div>　　I taste secrets 　　　like salt</div>-->
<!--<div>　　　　　　　　on the corner of your lips</div>-->
<!--</div>-->

<!--<div class="page-28">-->
<!--<div>when your mother broke the news of your existence</div>-->
<!--<div>to your father　　　　he said:</div>-->
<!--<div>　　　when this happens to my wife</div>-->
<!--<div>　　she takes care of it</div>-->
<!--<div>　　　　　　　　　　　　</div>-->
<!--<div>　　　　　　　　　　　　　　your mother didn't know he was married</div>-->
<!--</div>-->

<!--<div class="page-29">-->
<!--<div class="CBP">CBP officers will determine duty</div>-->
<!--<div class="declaration-reply">I have nothing to declare.</div>-->
<!--</div>-->

<div class="page-30">
<div>your finger travels along my waist with no intent</div>
<div>I ease you into me</div>
<div>as I would a finger into snow</div>
</div>

<div class="page-31">
<div class="CBP">Declare all articles on this declaration form</div>
<div class="CBP">and show the value in U.S. dollars.</div>
<div class="declaration-reply">I have nothing to declare.</div>
</div>
</div>
