<!-- HTML Example by Way2Tutorial.com -->
<h1 class="white" style='font-size:32pt;' xmlns="http://www.w3.org/1999/html">Ravel</h1>
<span class="white">index page demo</span>
<marquee style="z-index:2;position:absolute;left:80%;top:97px;font-family:Andale Mono;font-size:14pt;color:#ffffff;height:70%;"scrollamount="3" direction="down">The Journey of Goods</marquee>
<marquee style="z-index:2;position:absolute;left:1px;top:89px;font-family:Andale Mono;font-size:22pt;color:#ffffff;height:84%;"scrollamount="7" direction="down">Warp and Weft</marquee>
<marquee style="z-index:2;position:absolute;left:111px;top:7px;font-family:Andale Mono;font-size:12pt;color:#ffffff;height:100%;"scrollamount="4" direction="down">Cartographies</marquee>
<marquee style="z-index:2;position:absolute;left:55%;top:83px;font-family:Andale Mono;font-size:20pt;color:#ffffff;height:61%;"scrollamount="10" direction="down">Where Indigo Meets Azure</marquee>
<marquee style="z-index:2;position:absolute;left:105px;top:53px;font-family:Andale Mono;font-size:16pt;color:#ffffff;height:33%;"scrollamount="2" direction="down">To Swim Daily</marquee>
<marquee style="z-index:2;position:absolute;left:168px;top:69px;font-family:Andale Mono;font-size:14pt;color:#ffffff;height:69%;"scrollamount="1" direction="down">Portrait of Winds</marquee>
<marquee style="z-index:2;position:absolute;left:130px;top:117px;font-family:Andale Mono;font-size:14pt;color:#ffffff;height:48%;"scrollamount="5" direction="down">California Rain Song</marquee>
<marquee style="z-index:2;position:absolute;left:55%;top:57px;font-family:Andale Mono;font-size:12pt;color:#ffffff;height:100%;"scrollamount="11" direction="down">The Boots and the Weary Bird</marquee>
<marquee style="z-index:2;position:absolute;left:16px;top:57px;font-family:Andale Mono;font-size:16pt;color:#ffffff;height:72%;"scrollamount="5" direction="down">Landing</marquee>
<marquee style="z-index:2;position:absolute;left:300px;top:86px;font-family:Andale Mono;font-size:22pt;color:#ffffff;height:33%;"scrollamount="2" direction="down">Wishbone</marquee>
<marquee style="z-index:2;position:absolute;left:70%;top:10px;font-family:Andale Mono;font-size:16pt;color:#ffffff;height:94%;"scrollamount="6" direction="down">The Way of Knots</marquee>
<marquee style="z-index:2;position:absolute;left:678px;top:74px;font-family:Andale Mono;font-size:12pt;color:#ffffff;height:27%;"scrollamount="1"direction="down">Sisters</marquee>
<marquee style="z-index:2;position:absolute;left:241px;top:72px;font-family:Andale Mono;font-size:22pt;color:#ffffff;height:15%;"scrollamount="3" direction="down">Open Circles</marquee>
<marquee style="z-index:2;position:absolute;left:276px;top:32px;font-family:Andale Mono;font-size:12pt;color:#ffffff;height:93%;"scrollamount="8" direction="down">After Hours at the Convent School</marquee>
<marquee style="z-index:2;position:absolute;left:272px;top:15px;font-family:Andale Mono;font-size:12pt;color:#ffffff;height:73%;"scrollamount="11" direction="down">Flotsam</marquee>
<marquee style="z-index:2;position:absolute;left:90px;top:38px;font-family:Andale Mono;font-size:14pt;color:#ffffff;height:18%;"scrollamount="7" direction="down">Fore and Aft</marquee>
<marquee style="z-index:2;position:absolute;left:60%;top:108px;font-family:Andale Mono;font-size:16pt;color:#ffffff;height:60%;"scrollamount="3" direction="down">Letter from Sister to Brother</marquee>
<marquee style="z-index:2;position:absolute;left:522px;top:76px;font-family:Andale Mono;font-size:12pt;color:#ffffff;height:42%;"scrollamount="8" direction="down">Brooding</marquee>
<marquee style="z-index:2;position:absolute;left:89px;top:54px;font-family:Andale Mono;font-size:22pt;color:#ffffff;height:32%;"scrollamount="2" direction="down">To Unborn Sons</marquee>
<marquee style="z-index:2;position:absolute;left:26px;top:72px;font-family:Andale Mono;font-size:14pt;color:#ffffff;height:42%;"scrollamount="9" direction="down">The GI Bill</marquee>
<marquee style="z-index:2;position:absolute;left:3px;top:44px;font-family:Andale Mono;font-size:14pt;color:#ffffff;height:25%;"scrollamount="3" direction="down">Common Flower</marquee>
<marquee style="z-index:2;position:absolute;left:300px;top:108px;font-family:Andale Mono;font-size:14pt;color:#ffffff;height:93%;"scrollamount="7" direction="down">The Experiment</marquee>
<marquee style="z-index:2;position:absolute;left:335px;top:76px;font-family:Andale Mono;font-size:22pt;color:#ffffff;height:20%;"scrollamount="9" direction="down">Contraband</marquee>
<marquee style="z-index:2;position:absolute;left:400px;top:54px;font-family:Andale Mono;font-size:14pt;color:#ffffff;height:65%;"scrollamount="2" direction="down">Staircase</marquee>
<marquee style="z-index:2;position:absolute;left:355px;top:72px;font-family:Andale Mono;font-size:14pt;color:#ffffff;height:52%;"scrollamount="6" direction="down">The Seal</marquee>
<marquee style="z-index:2;position:absolute;left:380px;top:44px;font-family:Andale Mono;font-size:12pt;color:#ffffff;height:84%;"scrollamount="3" direction="down">This Body of Water, this Body of Land</marquee>
