<div style='color:#ffffff;font-size:32pt;float:right; margin-right: 50px;'><%= link_to "sign out", destroy_user_session_path, method: :delete %></div><br/>
<div style='width:180px;margin:0 auto;'><p style='color:#ffffff;font-size:32pt;'>WARP AND WEFT</p></div>
<div style='width:400px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:12pt;'>There was no slack in the warp and weft</marquee></div>
<div style='width:400px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:12pt; padding-left: 30px;'>my husband's great-grandma</marquee></div>
<div style='width:400px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:12pt; padding-left: 60px; float: left;'>ran her fingers over.</marquee></div><br/><br/>

<div style='width:400px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:12pt;'>A burler in a Rhode Island mill,</marquee></div>
<div style='width:400px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:12pt; padding-left: 30px;'>her job was to feel</marquee></div>
<div style='width:400px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:12pt; padding-left: 60px; float: left;'>for knots in the weave.</marquee></div><br/><br/>

<div style='width:400px;margin:0 auto;'><marquee behavior="slide" direction="left" scrollamount="18" style='color:#ffffff;font-size:12pt;'>She wore her fingerprints away</marquee></div>
<div style='width:400px;height:21px; margin:0 auto;'><marquee behavior="slide" direction="up" scrollamount="10" style='color:#ffffff;font-size:12pt; padding-left: 30px;'>and her skin to such thinness</marquee></div>
<div style='width:400px;margin:0 auto;'><marquee behavior="slide" direction="right" scrollamount="10" style='color:#ffffff;font-size:12pt; padding-left: 60px; float: left;'>blood might seep through.</marquee></div><br/><br/>






