/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
     font-family: "andale mono";
     background-color: #200000;
}

.content{

    width:70%;
    margin-left: auto;
    margin-right: auto;


}


.left-image {
    float: left;
    margin: 30px 30px 30px 30px;
    width:375px;
}
.description {
    padding-top:30px;
}

h1{
    font-size: 20px;

    line-height: 1.3em;
    display:inline;
}

span{
    font-size: 16px;
    color: white;
    line-height: 1.3em;
    display:inline;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #FFE4B5;
    font-size:18px;
}
a:hover {color: #FAFAD2}
.footer{
    clear:both;
    margin: 0px 0px 30px 30px;
}
