/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
     font-family: "andale mono";
     background-color: #030001;
}

.content{

    width:70%;
    margin-left: auto;
    margin-right: auto;


}


.left-image {
    float: left;
    margin: 30px 30px 30px 30px;
    width:375px;
}
.description {
    padding-top:26px;
}

.white {
    color:#ffffff;
}

h1{
    font-size: 20px;
    display:inline;
}

h2{
    font-size: 18px;
    line-height: 1.3em;
    display:inline;
}

span{
    font-size: 16px;
    color: white;
    line-height: 1.3em;
    display:inline;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #FFFFAA;
    font-size:18px;
}
a:hover {color: #FFAA00}
.footer{
    clear:both;
    margin: 0px 0px 30px 30px;
}

.warp-and-weft-mobile-container {
    font-size:11pt;
}
.mobile {
    font-family:Courier New
}
/*
Contraband title animation
*/

.loader {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: transparent;
}

.loader span {
    font-size: 120px;
    text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);

    -webkit-animation: loading 1.2s ease-in-out infinite alternate;
    -moz-animation: loading 1.2s ease-in-out infinite alternate;
    -ms-animation: loading 1.2s ease-in-out infinite alternate;
    animation: loading 1.2s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
    to { text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

@-moz-keyframes loading {
    to { text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

@-ms-keyframes loading {
    to { text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

@keyframes loading {
    to { text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

.loader span:nth-child(2) {
    -webkit-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -ms-animation-delay:0.2s;
    animation-delay:0.2s;
}
.loader span:nth-child(3) {
    -webkit-animation-delay:0.4s;
    -moz-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
    animation-delay:0.4s;
}
.loader span:nth-child(4) {
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    animation-delay:0.6s;
}
.loader span:nth-child(5) {
    -webkit-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -ms-animation-delay:0.8s;
    animation-delay:0.8s;
}
.loader span:nth-child(6) {
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -ms-animation-delay:1s;
    animation-delay:1s;
}
.loader span:nth-child(7) {
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    animation-delay:1.2s;
}

