/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
     font-family: "andale mono";
     background-color: #030001;
}

.content{

    width:70%;
    margin-left: auto;
    margin-right: auto;


}


.left-image {
    float: left;
    margin: 30px 30px 30px 30px;
    width:375px;
}
.description {
    padding-top:26px;
}

.white {
    color:#ffffff;
}

h1{
    font-size: 20px;
    display:inline;
}

h2{
    font-size: 18px;
    line-height: 1.3em;
    display:inline;
}

span{
    font-size: 16px;
    color: white;
    line-height: 1.3em;
    display:inline;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #FFFFAA;
    font-size:18px;
}
a:hover {color: #FFAA00}
.footer{
    clear:both;
    margin: 0px 0px 30px 30px;
}

.warp-and-weft-mobile-container {
    font-size:11pt;
}
.mobile {
    font-family:Courier New
}
/*
Contraband title animation
*/

.loader {
    height:0px;
    font-family: 'Nunito', sans-serif;
    color: transparent;
    font-size:50px;

}

.title-page {
    position:absolute;
    text-align: center;
    width:100%;
    top:35px;
    font-size:140px;
    /*-webkit-animation: loading 4.5s;*/
    z-index: 1;
}
.page-1 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:105px;
    -webkit-animation: loading 7s;
    /*-webkit-animation-delay: 3.2s;*/
    z-index: 100;
}

/*let prev div plays for 5 secs*/
.page-2 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:105px;
    -webkit-animation: loading 4s;
    /*-webkit-animation-delay: 8.2s;*/
    z-index: 100;
}

.page-3 {
    text-align: center;
    vertical-align: text-bottom;
    position:absolute;
    height:0;
    width:100%;
    top:150px;
    -webkit-animation: loading 5s;
    /*-webkit-animation-delay: 11.2s;*/
    z-index: 100;
}

.page-4 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:250px;
    -webkit-animation: loading 5s;
    /*-webkit-animation-delay: 14.7s;*/
    z-index: 100;
}

/*I ask you for songs your mother sang to you*/
.page-5 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:150px;
    -webkit-animation: loading 3s;
    /*-webkit-animation-delay: 20s;*/
    z-index: 100;
}

.page-6 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:250px;
    -webkit-animation: loading 4s;
    /*-webkit-animation-delay: 23.2s;*/
    z-index: 100;
}
/*I know a song about a clay doll*/
.page-7 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:35px;
    -webkit-animation: loading 16s;
    /*-webkit-animation-delay: 26.5s;*/
}
/*ni wa wa page 2*/
.page-8 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:35px;
    -webkit-animation: loading 16s;
    /*-webkit-animation-delay: 40s;*/
    z-index: 100;
}
/*she's a doll, not a baby*/
.page-9 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:35px;
    -webkit-animation: loading 3s;
    /*-webkit-animation-delay: 56s;*/
    z-index: 100;
}
.page-10 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:85px;
    -webkit-animation: loading 3s;
    /*-webkit-animation-delay: 59s;*/
    z-index: 100;
}
.page-11 {
    left:40px;
    position:absolute;
    height:0;
    width:100%;
    top:125px;
    -webkit-animation: loading 6s;
    /*-webkit-animation-delay: 62.8s;*/
    z-index: 100;
}
/*I'll be her mama, I'll be her papa*/
.page-12 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:215px;
    -webkit-animation: loading 8s;
    /*-webkit-animation-delay: 67s;*/
    z-index: 100;
}
/*I know a song about a rabbit and the moon*/
/*start at 74.5s delay*/

.page-13 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:35px;
    -webkit-animation: loading 12s;
    -webkit-animation-delay: 0s;
}

.page-14 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:255px;
    -webkit-animation: loading 8s;
    -webkit-animation-delay: 10s;
    z-index: 100;
}
/*you know I traffic in songs*/
.page-15 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:105px;
    -webkit-animation: loading 8s;
    -webkit-animation-delay: 18.5s;
    z-index: 100;
}
/*I steal from you when you're not watching*/
.page-16 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:35px;
    -webkit-animation: loading 5.5s;
    -webkit-animation-delay: 26.5s;
}
/*nandito ako*/
.page-17 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:35px;
    -webkit-animation: loading 12.5s;
    -webkit-animation-delay: 31.5s;
}
/*nandito ako 2nd page*/
.page-18 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:135px;
    -webkit-animation: loading 16.5s;
    -webkit-animation-delay: 42.5s;
    z-index: 100;
}
/*I come from a line of smugglers*/
.page-19 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:35px;
    -webkit-animation: loading 8s;
    -webkit-animation-delay: 0s;
}
/*the contraband?*/
.page-20 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:85px;
    -webkit-animation: loading 3s;
    -webkit-animation-delay: 7.7s;
    z-index: 50;
}
/*what duty*/
.page-21 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:45px;
    -webkit-animation: loading 3s;
    -webkit-animation-delay: 10.4s;
    z-index: 100;
}

/*my father arrived*/
.page-22 {
    text-align: center;
    position:absolute;
    height:0;
    width:100%;
    top:35px;
    -webkit-animation: loading 5s;
    -webkit-animation-delay: 14.4s;
    z-index: 100;
}

/*I was their first born*/

@-webkit-keyframes loading {
    0% { height:0;
    }
    50% {
        height:238px;
        text-shadow:
        0 0 2px rgba(204, 208, 212,0.9),
        0 15px 25px rgba(0, 0, 0, 0.3),
        0 -2px 3px rgba(0, 0, 0, 0.1),
        0 -5px 10px rgba(255, 255, 255, 0.5),
        0 5px 10px rgba(0, 0, 0, 0.3),
        0 3px 4px rgba(255, 255, 255, 0.2),
        0 0 20px rgba(255, 255, 255, 0.45);
    }

    100% {
        text-shadow:none;
        top:35px;
    }
}
